[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requestium = "*"

[dev-packages]
ipython = "*"
nuitka = "*"

[requires]
python_version = "3.7"

[scripts]
compile = "python -m nuitka main.py --follow-import-to=requestium"
